<!DOCTYPE html>

<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'simple.css' %}">
    <meta charset="UTF-8">
    <title>Sign_Up</title>
</head>

<body>


<br>
<br>
<br>
<h1>
  E-Bazar Sign-Up
</h1>
<div>
  <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>
    <h2>
    Create Account
  </h2>
      </legend>
  <div>
    <label for="user_name">Your name</label><br>
    <input type="text" id="user_name" name="user_name"><br><br>
  </div>
    <div>
    <label for="Mob_or_Eml">Mobile number or Email</label><br>
    <input type="text" id="Mob_or_Eml" name="Mob_or_Eml"><br><br>
  </div>
     <div>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password"><br><br>
  </div>
     <div>
    <label for="re_password">Re-type password</label><br>
    <input type="password" id="re_password" name="re_password"><br><br>
  </div>
    </fieldset>
    <input type="submit" value="Sign-Up">
  </form>
</div>
</body>
</html>